@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500&family=Roboto:wght@400;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  
  
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 100%
}
.br{
  border-radius: 5%;
}
.gap{
  gap: 28px;
}
.header img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.header{
  position: relative;
}
h1{
  line-height: 36px;
}
p{
  font-size: 16px;
  line-height: 24px;
}
.header-info{
  position: absolute;
  right:50px;
  top: 50%;
  transform: translateY(-50%);
  max-width:400px;
  text-shadow: 1px 1px 1px #b5b5b5;
}
.special-container{
  background-color: rgb(37,40,54);
  color: rgb(182, 182, 182);
}
.text-center{
  max-width: 680px;
  margin: auto;
  text-align: center;
}
.container{
  max-width: 1200px;
  margin: auto;
}
.special-dishes{
  padding: 80px 0px;
  
    
    &-list{
      margin-top: 70px;
      ul{
        list-style: none;
      }
        li{
        width: 22%;

        }
    }
}
.section{
  margin-top: 80px;
}
.flex{
  display: flex;
  text-align: center;
  align-items: center;
  &.flex-wrap{
    flex-wrap: wrap;
  &.flex-center{
    align-items: center;
    justify-content: center;
  }
  }
}
h2{
  margin-bottom: 18px;
  font-size: 30px;
}

.filtered-dishes{
  .category{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    .category-list{
      background-color: #ffb902;
      color: white;
      padding: 12px 30px;
      border-radius:30px;
      margin-right:20px;
      margin-bottom:20px;
      cursor: pointer;
      transition: all ease 0.3s;
      &.active{
        background-color: rgb(37,40,54);
      }
      &:hover{
        background-color: rgb(37,40,54);
      }

    }
  }
}

/*
 * Variables
 */
 $radius: 200;
 $circumference: $radius * 2 * 3.14159;
 $strokeWidth: 20;
 $duration: 6s;
 
 $bg-1: #E3E0DD;
 $bg-2: #EEE5DA;
 $color1: #50e0e0;
 $color2: #a1ef4b;
 $color3: #fede00;
 $color4: #fda94f;
 $color5: #ff626b;
 
 $colors: $color1, $color2, $color3, $color4, $color5;
 
 /*
  * General
  */
 
 svg {
   position: relative;
   width: ($radius * 2) + $strokeWidth + px;
   height: $radius + $strokeWidth + px;
 }
 
 .stroke {
   fill: none;
   stroke-width: $strokeWidth;
   stroke-linecap: round;
   transform-origin: 50% 50%;
   transform: translate(0%,50%) rotate(170deg) translateZ(0);
   will-change: transform;
 }
 
 /*
  * Stroke specific
  */
 @for $i from 1 through length($colors) {
     
   $cricleSize: $radius - ($strokeWidth*(length($colors)-$i));
   $cricleCircumference: $cricleSize * 2 * 3.14159;
   $delay: ($duration/50)*((length($colors)+1)-$i);
   
   $easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
   $easing: $easeInOutSine;
   
   .stroke--#{$i} {
     stroke: nth($colors, $i);
     stroke-dasharray: $cricleCircumference;
     stroke-dashoffset: $cricleCircumference;
     animation: dash-#{$i} $duration $easing $delay infinite;
   }
 
   @keyframes dash-#{$i} {
     0% {
       stroke-dashoffset: $cricleCircumference;
       transform: translate(0%,50%) rotate(170deg) translateZ(0);
     }
     45% {
       stroke-dashoffset: $cricleCircumference*0.4;
       transform: translate(0%,50%) rotate(170deg) translateZ(0);
     }
     90%,
     100% {
       stroke-dashoffset: $cricleCircumference;
       transform: translate(0%,50%) rotate(380deg) translateZ(0);
     }
   }
 }
 
 /*
  * Body
  */
 
  .loader-container {
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom right, $bg-1, $bg-2);
  }
 
 /*
  * More from me link 🔥
  */
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');
 
 .more {
   position: absolute;
   bottom: 15px;
   right: 15px;
   padding: 7px 21px;
   border-radius: 8px;
   color: #fff;
   background-color: rgba(0,0,0,.2);
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 0.7rem;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   overflow: hidden;
   z-index: 1;
   animation: reveal 5000ms cubic-bezier(.87,-.41,.19,1.44);
   
   &::before {
     display: block;
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     width: 100%;
     max-width: 20%;
     height: 100%;
     border-radius: 8px;
     background-color: rgba(0,0,0,0);
     transition: max-width 0ms ease 250ms,
             background-color 250ms ease;
     transform: translate(-50%, -50%);
     z-index: -1;
   }
   
   &:hover {
     &::before {
       max-width: 100%;
       background-color: rgba(0,0,0,0.6);
       transition: all 250ms ease;
     }
   }
 }
 
 @keyframes reveal {
     0%, 90% {
      bottom: -30px;
   }
    100% {
      bottom: 15px;
   }
 }
.alert {
  border: 2px solid #ff4848;
  border-radius: 10px;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;

    h3 {
      font-size: 22px;
      color: red;
      margin: 0 0 10px 0;
    }

    h4{
      font-size: 24px;
      margin: 0;

    }

 }
 .pagination{
    justify-content: center;
    margin: 50px 0;

    li{
      width: 30px;
      height: 30px;
      border: 1px solid gray;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 8px;
      transition: all ease 0.3s;
    &.active{
      background-color: #ffb902;
      border-color: #ffb902;
    }
    &:hover {
      background-color: #ffb902;
      border-color: #ffb902;
    }
    }
 }

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f4;
  .logo{
    height: 100px;
    width: 100px;
    margin-left: 20px;
  }
  ul{
    list-style: none;
    margin-right: 20px;
  }
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  &-content{
    background-color: rgb(17, 17, 17);
    width: 800px;
    height: 600px;
    border-radius: 5px;
    padding: 20px;
    
    h2, p{
      color: white;
      margin-top: 15px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 15px;
      max-height: 200px;
      overflow-y: hidden;
      
    }
    button {
      border: none;
      outline: none;
      background-color: #ffb902;
      color:black;
      padding: 12px 22px;
      border-radius: 6px;
      font-size: 18px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 24px;
      transition: all ease 0.3s;

      &:hover{
        background-color: #ff4848;
      }
    }
  }
  &-close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      color: #ff4848;
    }
  }
  
  .popup-header{
    height: 20vh;
    overflow: hidden;
    position: relative;
    &-category{
      background-color: #dbdbdb;
      color: black;
      margin: 0;
      padding: 12px;
      border-radius: 6px;
      position: absolute;
      bottom: 25px;
      left: 25px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
}
.dish-intgredients{
  list-style: none;
  li{
    background: white;
    padding: 8px 14px;
    border-radius: 32px;
    font-size: 14px;
    color: #000;
    margin-right: 10px;
  }
}
:root {
  --footer-bg: #252836;
  --color: #f2f3fb;
  --color-smooth: #9da2ae;
  --input-border: #3a456a;
  --btn-bg-color: #f1f2fc;
  --btn-hover-bg: #d5d9f6;
  --btn-color: #1e2641;
}

footer {
  font-size: 16px;
  background: var(--footer-bg);
  padding: 2em 4em;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
  font-family: "IBM Plex Sans", sans-serif;
}

footer ul {
  list-style: none;
}

.col {
  flex: 1;
}

.col-title {
  font-family: "Merriweather", serif;
  color: var(--color);
  font-size: 1.1em;
  font-weight: 500;
  padding: 0.5em 0;
}

.col-list a {
  color: var(--color-smooth);
  text-decoration: none;
  line-height: 1.4;
  font-weight: 400;
}

.col-list a:hover,
.col-list a:focus {
  text-decoration: underline;
}

.subscribe-form,
.social-media {
  display: flex;
  gap: 0.5em;
  padding: 0.5em 0;
}

.subscribe-input {
  width: auto;
  flex: 1;
  background: transparent;
  border: 0.06em solid var(--input-border);
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
  display: inline-block;
  color: var(--color-smooth);
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--color);
  color: var(--color);
}


.form-title,
.social-col-title {
  font-size: 1em;
  color: var(--color);
  font-weight: 500;
}

.social-media {
  flex-direction: column;
}

.social-media-list {
  display: flex;
  gap: 0.5rem;
}

.social-media-list a {
  padding: 0.5em;
  color: var(--color-smooth);
  display: flex;
  border-radius: 0.3em;
  transition: all 0.25s ease 0s;
}

.social-media-list a:hover,
.social-media-list a:focus {
  color: var(--color);
  background: #ffffff1a;
}

.social-media-list svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.25s ease 0s;
}

@media screen and (max-width: 750px) {
  footer {
    padding: 2em;
    flex-direction: column;
  }
}

 @media only screen and (max-width: 600px) {
  .special-dishes{
    padding: 80px 0px;
    
      
      &-list{
        margin-top: 70px;
        ul{
          list-style: none;
        }
          li{
          width: 100%;
  
          }
      }
  }
  
  .pagination{
    display: none;
  }
  .header-info{
    position: static;
    padding: 20px 10px;
    transform: none;
  }
  .header {
    background-color: #dfe3e4;
  }
  h1{
    font-size: 26px;
  }
  .flex.flex-wrap {
    padding: 15px;
  }
  .popup-content {
    width: 360px;
  }
  .dish-intgredients li {
    font-size: 12px;
  }

 }
 @media only screen and (max-width: 280px) {
  .popup-content {
    width: 305px;
  }
  .dish-intgredients li {
    margin-right: 2px;
  }
}